
h1 {
  color: white;
}

.form-group {
  text-align: center;
  margin-top: 20px;
}

.form-control {
  background-color: rgba(0, 0, 0, .3);
  border-style: none;
  transition: 0.5s ease-in;
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  background: none;
  box-shadow: none;
  outline: none;
  color: white;
}

.form-control::placeholder {
  color: white;
}

.ingresar {
  background-color: rgb(181, 181, 186);
  padding: 8px;
  font-size: 1.1rem;
  font-weight: 700 !important;
  color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 568);
  transition: 0.5s ease-in;
}

.ingresar:hover {
  color: white;
}

.formulario {
  background-color: rgba(0, 0, 0, .2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 568);
  color: white;
}

.olvide {
  color: white;
  text-decoration: none;
}

.olvide:hover {
  color: white;
  cursor: pointer;
}

.olvide1 {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, .5);
}

.olvide1:hover {
  color: white;
  cursor: pointer;
}

.cancelar {
  padding: 5px 20px;
  font-size: 1rem;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, .3);
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cancelar:hover {
  background-color: rgba(0, 0, 0, .5);
  border: 1px solid white;
}

/* Estilos para el dropdown - desplegable */
.dropdown .dropdown-toggle {
  background-color: rgba(0, 0, 0, .3);
  border-style: none;
  color: white;
  transition: 0.5s ease-in;
  box-shadow: none;
  width: 100%;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, .3);
  border-style: none;
  color: white;
  width: 100%;
  text-align: center;
}

.dropdown-item {
  color: white;
  transition: 0.5s ease-in;
}

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, .5);
  color: white;
}
